In [10]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 20, 'figure.figsize': (10, 8)})

In [11]:
#Import data file
data = pd.read_csv("alcohol.csv", index_col="Subject")

In [12]:
#Convert to dataframe
main_table = pd.DataFrame(data)

In [13]:
#Get basic info
main_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, Subject C to Subject M
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         61 non-null     object
 1   Type         61 non-null     object
 2   Form         61 non-null     object
 3   Quantity     61 non-null     float64
 4   Volume (Ml)  61 non-null     int64
 5   Alcohol      61 non-null     object
 6   Week         61 non-null     int64
dtypes: float64(1), int64(2), object(4)
memory usage: 3.8+ KB

In [47]:
#Monthly Total in ML (group by subject, sum all values)
monthly_total = main_table.groupby('Subject')['Volume (Ml)'].sum().to_frame().reset_index()
#monthly_total.plot(kind='scatter', x='Subject', y='Volume (Ml)', title='Monthly Total in ML');
monthly_total

     Subject  Volume (Ml)
0  Subject C        22801
1  Subject M        18695

In [48]:
#Monthly Total Breakdown 
monthly_breakdown = main_table.groupby(['Subject','Form','Type'])[['Volume (Ml)', 'Quantity']].sum()
monthly_breakdown

                            Volume (Ml)  Quantity
Subject   Form  Type
Subject C Can   Beer              22051      67.5
          Drink Caipirinha          160       2.0
                Vodka               240       6.0
                Whiskey             130       4.0
          Glass Wine                220       2.0
Subject M Can   Beer              17775      53.0
          Drink Caipirinha          200       3.0
                Whiskey             240       8.5
          Glass Wine                480       4.0